In [18]:
# Dependencies
import csv
import requests
import pandas as pd
import json
from thconfig import gkey

In [19]:
# Save config information
# https://maps.googleapis.com/maps/api/geocode/json?key=YOUR_API_KEY&components=postal_code:97403
# setup the zip variable and give it a value to test with
url = "https://maps.googleapis.com/maps/api/geocode/json?"  
zip = 63123

# build the query URL
query_url = f"{url}key={gkey}&components=postal_code:"

In [9]:
# Run a test with the given zip and print the response so we know what data to pull out
response = requests.get(query_url + str(zip)).json()

print(json.dumps(response, indent=4, sort_keys=True))

{
    "results": [
        {
            "address_components": [
                {
                    "long_name": "63123",
                    "short_name": "63123",
                    "types": [
                        "postal_code"
                    ]
                },
                {
                    "long_name": "St. Louis",
                    "short_name": "St. Louis",
                    "types": [
                        "locality",
                        "political"
                    ]
                },
                {
                    "long_name": "Missouri",
                    "short_name": "MO",
                    "types": [
                        "administrative_area_level_1",
                        "political"
                    ]
                },
                {
                    "long_name": "United States",
                    "short_name": "US",
                    "types": [
                        "country",
                        "political"
                    ]
                }
            ],
            "formatted_address": "St. Louis, MO 63123, USA",
            "geometry": {
                "bounds": {
                    "northeast": {
                        "lat": 38.5868159,
                        "lng": -90.2704979
                    },
                    "southwest": {
                        "lat": 38.503502,
                        "lng": -90.3690829
                    }
                },
                "location": {
                    "lat": 38.5580845,
                    "lng": -90.3277829
                },
                "location_type": "APPROXIMATE",
                "viewport": {
                    "northeast": {
                        "lat": 38.5868159,
                        "lng": -90.2704979
                    },
                    "southwest": {
                        "lat": 38.503502,
                        "lng": -90.3690829
                    }
                }
            },
            "place_id": "ChIJV_inapXJ2IcR6rkqvo5uUyg",
            "postcode_localities": [
                "Affton",
                "St. Louis"
            ],
            "types": [
                "postal_code"
            ]
        }
    ],
    "status": "OK"
}

In [25]:
# import the Zip Codes for all the Cities we want from a csv and put them in a DF
#zips_df = pd.read_csv("school_zipcode_data.csv")
zips_df = pd.read_csv("ZipCodes2.csv")
zips_df.head()

   Zip Codes                    Areas Add/Change
0      63123                   Affton        NaN
1      63011                  Ballwin          n
2      63021                  Ballwin        NaN
3      63137  Bellefontaine Neighbors        NaN
4      63118              Benton Park          n

In [26]:
# Set up lists to hold response info
lat = []
lng = []

# Loop through the list of cities and perform a request for lat,lng data on each by using zip code info
for zip in zips_df["Zip Codes"]:
    response = requests.get(query_url + str(zip)).json()
    lat.append(response['results'][0]['geometry']['location']['lat'])
    lng.append(response['results'][0]['geometry']['location']['lng'])

In [27]:
# Add the columns to the dataframe
zips_df['Latitude'] = lat
zips_df['Longitude'] = lng

In [28]:
zips_df.head()

   Zip Codes                    Areas Add/Change   Latitude  Longitude
0      63123                   Affton        NaN  38.558084 -90.327783
1      63011                  Ballwin          n  38.604451 -90.558879
2      63021                  Ballwin        NaN  38.557323 -90.535236
3      63137  Bellefontaine Neighbors        NaN  38.747943 -90.211357
4      63118              Benton Park          n  38.595062 -90.229157

In [29]:
# Print the DF with lat and Lng for our Cities to a CSV file
#zips_df.to_csv('Data\school_zip_lat_long.csv', index = None, header=True, encoding='utf-8')
zips_df.to_csv('Data\school_zip_lat_long2.csv', index = None, header=True, encoding='utf-8')